h1 {
  font: 100% arial, helvetica, sans-serif;
  font-size: 3em;

}

h2 {
  font: 100% arial, helvetica, sans-serif;
  font-size: 2em;

}

body {
    padding-top: 70px;
    font: 100% arial, helvetica, sans-serif;
font-size: 1.6em;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

footer {
    padding: 30px 0;
    font: 100% arial, helvetica, sans-serif;
font-size: 1em;
text-align: center;
}

.row-md-1 {
  margin-right: 15px;
  margin-left: 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }

    .spacer {
      margin:0;
      padding:5em;
    }

    /*RESPONSIVE EMBED */

    .video-container {
    	position:relative;
    	padding-bottom:56.25%;
    	padding-top:30px;
    	height:0;
    	overflow:hidden;
    }

    .video-container iframe, .video-container object, .video-container embed {
    	position:absolute;
    	top:0;
    	left:0;
    	width:100%;
    	height:100%;
    }

}
